@using ViewModels
@model BattlefieldPartialModel


<table>
    @foreach (var item in Model._battlefield)
    {
        <tr>
            @foreach (var item2 in item)
            {
                <td>@item2.PosX - @item2.PosY</td>
            }
        </tr>
    }
</table>