@page
@model Battleships.Pages.GamePreparationModel
@{
    ViewData["Title"] = "GamePreparation";
}

<img src="~/images/logo.png" alt="Alternate Text" class="center" />



    @if (Model.Game.GameState == Battleships.Models.Enums.GameState.Setup)
    {



        <h5 class="text-center">Place your ships</h5>


        <partial name="_Battlefield" model="Model.partialModel" />

        if (Model.partialModel.UserGame.PlayerState != Models.Enums.PlayerState.Playing)
        {
            <div class="text-center">
                <a class="btn btn-primary" asp-page="Index">Cancel</a>
                <a class="btn btn-primary" asp-page-handler="Done">Done</a>
            </div>
        }

    }



