@page
@model Battleships.Pages.GamesListModel
@{
    ViewData["Title"] = "GamesList";
}

<h1>GamesList</h1>
<table>
    @foreach (var item in Model.Games)
    {
        <tr>
            <td><i>@item.GameId</i></td>
            <td><a class="btn btn-primary" asp-page="Game">Enter this game</a></td>
        </tr>
    }
</table>