@page
@model Battleships.Pages.GameModel
@{
    ViewData["Title"] = "Game";
}


<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <img src="~/images/logo.png" alt="Alternate Text" class="center" />
    <h1 class="text-center">Game</h1>
    <div class="alert alert-light text-center" role="alert">
        Výpis z DB: (předělat do PartialView - upravit - přidat na ostatní stránky)
    </div>
    
    
    <partial name="_Battlefield" model="Model.PlayingField" />
    
    
    
    
    @*<table>
        @foreach (var item in Model.PlayingField)
        {
            <tr>
                @foreach (var item2 in item)
                {
                <td>@item2.PosX - @item2.PosY</td>
                }               
            </tr>
        }
    </table>*@
    <div class="text-center">
        <a class="btn btn-primary" asp-page="Index">Cancel</a>
        <a class="btn btn-primary" asp-page="Game">Done</a>
    </div>
</body>
</html>
