@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>

    <img src="~/images/logo.png" class="center" />

    <a class="btn btn-primary" asp-page="GamePreparation" asp-page-handler="StartGame" asp-route-size="5">Start Game (size 5×5)</a>
    <a class="btn btn-primary" asp-page="GamePreparation" asp-page-handler="StartGame" asp-route-size="10">Start Game (size 10×10)</a>
    <a class="btn btn-primary" asp-page="GamesList">List your games</a>
</body>
</html>
