@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>

    <img src="~/images/logo.png" class="center" />

    <a class="btn btn-primary" asp-page="GamePreparation">Start Game</a>
    <a class="btn btn-primary" asp-page="GamesList">List of your games</a>
</body>
</html>
