/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


/*Border tabulky a vycentrování*/
.bftd{
    border:solid 1px; 
    border-color: black;    
    min-width: 60px;
    height: 60px;
}
.bftable{
    margin: 0 auto;
}


/*Center obrázku*/
.center {
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h6{
    text-align: center
}

/*Tlačítka*/
.btn-group-vertical {
    margin: 0 auto !important;
    display: block !important;
    width: 20%;
    padding-top: 50px;
}

.btn-group-vertical a {
    transition: all .2s ease-in-out;
}

.btn-group-vertical a:hover {
    color: black !important;
    background-color: #c0e0ff;
    transform: scale(1.05);
}

/*Tabulka*/
.game-list-table a, .game-prep a {
    font-size: 13px;
    font-weight: 700;
    transition: all .2s ease-in-out;
    padding-top: 3px;
}

.game-list-table .btn-primary:hover, .game-prep a:hover {
    color: black !important;
    background-color: #c0e0ff;
    transform: scale(1.05);
}

.game-prep a {
    font-size: 15px;
    padding: 10px;
    margin-top: 20px;
}

.game-list-table .btn-danger:hover {
    color: black !important;
    background-color: #ffc1e3;
    transform: scale(1.05);
}

.game-list-table .head {
    font-weight: 700;
}

.game-list-table {
    border: 1px solid #dbdbdb
}

.game-list-title {
    font-size: 20px;
    font-weight: 700;
    padding: 20px;
}